[report]
omit =
    /home/*/.buildout/eggs/*
    /Users/*/.buildout/eggs/*
    /home/*/buildout-cache/eggs/*
    /Users/*/buildout-cache/eggs/*
    /home/*/eggs/*
    /Users/*/eggs/*
    /usr/*
    /Development/eggs/*
    bin/test
    buildout-cache/eggs/*
    eggs/*
    parts/*
    src/upcnet.logger/*
