# This build allows to connect as a frontend of the declared config/server
# custom configuration. By default, will act as a frontend of the "gradefajol"
# server. Useful for making changes on production or apply bulk scripts via
# helper views or scripts. Use with caution!

[buildout]
parts =
    filestorage
    instance

extends =
          config/projects.cfg
          config/sources.cfg
          buildout.cfg
          customizeme.cfg
          http://dist.plone.org/release/4.3.4/versions.cfg
          versions.cfg

versions = versions

find-links =
    http://pypi.upc.edu/links
    http://dist.plone.org/release/4.3.4

eggs = ${custom:eggs}
       Products.PloneLDAP
       zc.beforestorage
       Products.PrintingMailHost

# network speedup
socket-timeout = 3
allow-hosts =
    pypi.upc.edu
    *.python.org
    docutils.sourceforge.net
    prdownloads.sourceforge.net
    effbot.org

[instance]
recipe = plone.recipe.zope2instance
http-address = 9999
effective-user = plone

[filestorage]
recipe = collective.recipe.filestorage
zopes = instance
