[buildout]
parts =
    filestorage
    instance
    omelette
    test
    codeintel
    mrbob

extends =
    config/projects.cfg
    buildout.cfg
    customizeme.cfg
    http://dist.plone.org/release/4.3-latest/versions.cfg
    versions.cfg
versions = versions

eggs += Products.PrintingMailHost

eggs += ${max:eggs}
        ${ulearncore:eggs}
        ${ulearnclients:eggs}
#              ${ulearndevel:eggs}

[test]
recipe = zc.recipe.testrunner
defaults = ['--exit-with-status', '--auto-color', '--auto-progress', '--verbose', '--ndiff']
eggs = genweb.core[test]
       ulearn.core[test]
       ulearn.generali[test]
