[buildout]
parts =
    filestorage
    instance
    omelette
    themepreview
    test
    test-gwcore
    codeintel
    i18ndude

extends =
    config/projects.cfg
    config/sources.cfg
    buildout.cfg
    customizeme.cfg
    http://dist.plone.org/release/4.3.7/versions.cfg
    versions.cfg
versions = versions

eggs += plone4.csrffixes
        Products.PrintingMailHost
        Products.DCWorkflowGraph

developeggs += ${genwebupc:eggs}
#              ${genwebextras:eggs}
              ${genwebaddons:eggs}
#              ${genwebmigration:eggs}
#              ${genwebdevel:eggs}
#              ${genwebalumni:eggs}

[test]
recipe = zc.recipe.testrunner
defaults = ['--exit-with-status', '--auto-color', '--auto-progress', '--verbose', '--ndiff']
eggs = genweb.upc[test]

[test-gwcore]
recipe = zc.recipe.testrunner
defaults = ['--exit-with-status', '--auto-color', '--auto-progress', '--verbose', '--ndiff']
eggs = genweb.core[test]

[versions]
# CSRF vulnerability pins
plone.protect = 3.0.19
plone.keyring = 3.0.1
plone.locking = 2.0.8
