# This buildout cfg will install a default zeo server (2 instances) in
# production mode with 35 instances each and their respectives mount points. The
# backup scripts are included.

[buildout]
parts =
    filestorage-zeo1
    filestorage-zeo2
    zeo1
    zeo2

    backup-zeo1
    backup-zeo2

extends = http://dist.plone.org/release/4.3.3/versions.cfg
          versions.cfg

versions = versions

find-links =
    http://pypi.upc.edu/links
    http://dist.plone.org/release/4.3.3

[ports]
zeo1 = 8001
zeo2 = 8002
zeo1-monitor = 8101
zeo2-monitor = 8102

[zeo-common]
invalidation-queue-size = 1000
effective-user = plone
pack-keep-old = false

[zeo1]
<= zeo-common
recipe = plone.recipe.zeoserver
zeo-address = ${ports:zeo1}
file-storage = ${buildout:directory}/var/filestorage/Datazeo1.fs
blob-storage = ${buildout:directory}/var/zeo1rootblobs
socket-name = ${buildout:directory}/var/zeo1.zdsock
monitor-address = ${ports:zeo1-monitor}
zeopack-script-name = zeopack_zeo1

[zeo2]
<= zeo-common
recipe = plone.recipe.zeoserver
zeo-address = ${ports:zeo2}
file-storage = ${buildout:directory}/var/filestorage/Datazeo2.fs
blob-storage = ${buildout:directory}/var/zeo2rootblobs
socket-name = ${buildout:directory}/var/zeo2.zdsock
monitor-address = ${ports:zeo2-monitor}
zeopack-script-name = zeopack_zeo2

[filestorage-zeo1]
recipe = collective.recipe.filestorage
zeo = zeo1
# Begins at 2, because the 1 is reserved for the root zeo connection
parts = 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36
location = var/filestorage/Data_%(fs_part_name)s.fs
blob-storage = var/blobstorage/%(fs_part_name)s
zeo-shared-blob-dir = false

[filestorage-zeo2]
recipe = collective.recipe.filestorage
zeo = zeo2
parts = 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72
location = var/filestorage/Data_%(fs_part_name)s.fs
blob-storage = var/blobstorage/%(fs_part_name)s
zeo-shared-blob-dir = false

[backup-zeo1]
recipe = collective.recipe.backup
location = ${buildout:directory}/backups/backup-zeo1
blobbackuplocation = ${buildout:directory}/backups/blobs-zeo1
snapshotlocation = ${buildout:directory}/backups/snapshotbackup-zeo1
blobsnapshotlocation = ${buildout:directory}/backups/blobsnapshot-zeo1
datafs = ${zeo1:file-storage}
blob_storage = ${zeo1:blob-storage}
additional_filestorages =
    2 ${buildout:directory}/var/filestorage/Data_2.fs ${buildout:directory}/var/blobstorage/2
    3 ${buildout:directory}/var/filestorage/Data_3.fs ${buildout:directory}/var/blobstorage/3
    4 ${buildout:directory}/var/filestorage/Data_4.fs ${buildout:directory}/var/blobstorage/4
    5 ${buildout:directory}/var/filestorage/Data_5.fs ${buildout:directory}/var/blobstorage/5
    6 ${buildout:directory}/var/filestorage/Data_6.fs ${buildout:directory}/var/blobstorage/6
    7 ${buildout:directory}/var/filestorage/Data_7.fs ${buildout:directory}/var/blobstorage/7
    8 ${buildout:directory}/var/filestorage/Data_8.fs ${buildout:directory}/var/blobstorage/8
    9 ${buildout:directory}/var/filestorage/Data_9.fs ${buildout:directory}/var/blobstorage/9
    10 ${buildout:directory}/var/filestorage/Data_10.fs ${buildout:directory}/var/blobstorage/10
    11 ${buildout:directory}/var/filestorage/Data_11.fs ${buildout:directory}/var/blobstorage/11
    12 ${buildout:directory}/var/filestorage/Data_12.fs ${buildout:directory}/var/blobstorage/12
    13 ${buildout:directory}/var/filestorage/Data_13.fs ${buildout:directory}/var/blobstorage/13
    14 ${buildout:directory}/var/filestorage/Data_14.fs ${buildout:directory}/var/blobstorage/14
    15 ${buildout:directory}/var/filestorage/Data_15.fs ${buildout:directory}/var/blobstorage/15
    16 ${buildout:directory}/var/filestorage/Data_16.fs ${buildout:directory}/var/blobstorage/16
    17 ${buildout:directory}/var/filestorage/Data_17.fs ${buildout:directory}/var/blobstorage/17
    18 ${buildout:directory}/var/filestorage/Data_18.fs ${buildout:directory}/var/blobstorage/18
    19 ${buildout:directory}/var/filestorage/Data_19.fs ${buildout:directory}/var/blobstorage/19
    20 ${buildout:directory}/var/filestorage/Data_20.fs ${buildout:directory}/var/blobstorage/20
    21 ${buildout:directory}/var/filestorage/Data_21.fs ${buildout:directory}/var/blobstorage/21
    22 ${buildout:directory}/var/filestorage/Data_22.fs ${buildout:directory}/var/blobstorage/22
    23 ${buildout:directory}/var/filestorage/Data_23.fs ${buildout:directory}/var/blobstorage/23
    24 ${buildout:directory}/var/filestorage/Data_24.fs ${buildout:directory}/var/blobstorage/24
    25 ${buildout:directory}/var/filestorage/Data_25.fs ${buildout:directory}/var/blobstorage/25
    26 ${buildout:directory}/var/filestorage/Data_26.fs ${buildout:directory}/var/blobstorage/26
    27 ${buildout:directory}/var/filestorage/Data_27.fs ${buildout:directory}/var/blobstorage/27
    28 ${buildout:directory}/var/filestorage/Data_28.fs ${buildout:directory}/var/blobstorage/28
    29 ${buildout:directory}/var/filestorage/Data_29.fs ${buildout:directory}/var/blobstorage/29
    30 ${buildout:directory}/var/filestorage/Data_30.fs ${buildout:directory}/var/blobstorage/30
    31 ${buildout:directory}/var/filestorage/Data_31.fs ${buildout:directory}/var/blobstorage/31
    32 ${buildout:directory}/var/filestorage/Data_32.fs ${buildout:directory}/var/blobstorage/32
    33 ${buildout:directory}/var/filestorage/Data_33.fs ${buildout:directory}/var/blobstorage/33
    34 ${buildout:directory}/var/filestorage/Data_34.fs ${buildout:directory}/var/blobstorage/34
    35 ${buildout:directory}/var/filestorage/Data_35.fs ${buildout:directory}/var/blobstorage/35
    36 ${buildout:directory}/var/filestorage/Data_36.fs ${buildout:directory}/var/blobstorage/36

[backup-zeo2]
recipe = collective.recipe.backup
location = ${buildout:directory}/backups/backup-zeo2
blobbackuplocation = ${buildout:directory}/backups/blobs-zeo2
snapshotlocation = ${buildout:directory}/backups/snapshotbackup-zeo2
blobsnapshotlocation = ${buildout:directory}/backups/blobsnapshot-zeo2
datafs = ${zeo2:file-storage}
blob_storage = ${zeo2:blob-storage}
additional_filestorages =
    37 ${buildout:directory}/var/filestorage/Data_37.fs ${buildout:directory}/var/blobstorage/37
    38 ${buildout:directory}/var/filestorage/Data_38.fs ${buildout:directory}/var/blobstorage/38
    39 ${buildout:directory}/var/filestorage/Data_39.fs ${buildout:directory}/var/blobstorage/39
    40 ${buildout:directory}/var/filestorage/Data_40.fs ${buildout:directory}/var/blobstorage/40
    41 ${buildout:directory}/var/filestorage/Data_41.fs ${buildout:directory}/var/blobstorage/41
    42 ${buildout:directory}/var/filestorage/Data_42.fs ${buildout:directory}/var/blobstorage/42
    43 ${buildout:directory}/var/filestorage/Data_43.fs ${buildout:directory}/var/blobstorage/43
    44 ${buildout:directory}/var/filestorage/Data_44.fs ${buildout:directory}/var/blobstorage/44
    45 ${buildout:directory}/var/filestorage/Data_45.fs ${buildout:directory}/var/blobstorage/45
    46 ${buildout:directory}/var/filestorage/Data_46.fs ${buildout:directory}/var/blobstorage/46
    47 ${buildout:directory}/var/filestorage/Data_47.fs ${buildout:directory}/var/blobstorage/47
    48 ${buildout:directory}/var/filestorage/Data_48.fs ${buildout:directory}/var/blobstorage/48
    49 ${buildout:directory}/var/filestorage/Data_49.fs ${buildout:directory}/var/blobstorage/49
    50 ${buildout:directory}/var/filestorage/Data_50.fs ${buildout:directory}/var/blobstorage/50
    51 ${buildout:directory}/var/filestorage/Data_51.fs ${buildout:directory}/var/blobstorage/51
    52 ${buildout:directory}/var/filestorage/Data_52.fs ${buildout:directory}/var/blobstorage/52
    53 ${buildout:directory}/var/filestorage/Data_53.fs ${buildout:directory}/var/blobstorage/53
    54 ${buildout:directory}/var/filestorage/Data_54.fs ${buildout:directory}/var/blobstorage/54
    55 ${buildout:directory}/var/filestorage/Data_55.fs ${buildout:directory}/var/blobstorage/55
    56 ${buildout:directory}/var/filestorage/Data_56.fs ${buildout:directory}/var/blobstorage/56
    57 ${buildout:directory}/var/filestorage/Data_57.fs ${buildout:directory}/var/blobstorage/57
    58 ${buildout:directory}/var/filestorage/Data_58.fs ${buildout:directory}/var/blobstorage/58
    59 ${buildout:directory}/var/filestorage/Data_59.fs ${buildout:directory}/var/blobstorage/59
    60 ${buildout:directory}/var/filestorage/Data_60.fs ${buildout:directory}/var/blobstorage/60
    61 ${buildout:directory}/var/filestorage/Data_61.fs ${buildout:directory}/var/blobstorage/61
    62 ${buildout:directory}/var/filestorage/Data_62.fs ${buildout:directory}/var/blobstorage/62
    63 ${buildout:directory}/var/filestorage/Data_63.fs ${buildout:directory}/var/blobstorage/63
    64 ${buildout:directory}/var/filestorage/Data_64.fs ${buildout:directory}/var/blobstorage/64
    65 ${buildout:directory}/var/filestorage/Data_65.fs ${buildout:directory}/var/blobstorage/65
    66 ${buildout:directory}/var/filestorage/Data_66.fs ${buildout:directory}/var/blobstorage/66
    67 ${buildout:directory}/var/filestorage/Data_67.fs ${buildout:directory}/var/blobstorage/67
    68 ${buildout:directory}/var/filestorage/Data_68.fs ${buildout:directory}/var/blobstorage/68
    69 ${buildout:directory}/var/filestorage/Data_69.fs ${buildout:directory}/var/blobstorage/69
    70 ${buildout:directory}/var/filestorage/Data_70.fs ${buildout:directory}/var/blobstorage/70
    71 ${buildout:directory}/var/filestorage/Data_71.fs ${buildout:directory}/var/blobstorage/71


[supervisor]
recipe = collective.recipe.supervisor
programs =
    10 zeo1 ${buildout:directory}/bin/zeo1 [console] true plone
    10 zeo2 ${buildout:directory}/bin/zeo2 [console] true plone
