[buildout]
parts =
    filestorage
    zc1
    zc2
    zc3
    zc4
    zcdebug

    checkinterval

    supervisor

extends = config/sources.cfg
          config/projects.cfg
          http://dist.plone.org/release/4.3.4/versions.cfg
          deploy/zope-default.cfg
          customizeme.cfg
          versions.cfg

versions = versions

find-links =
    http://pypi.upc.edu/links
    http://dist.plone.org/release/4.3.4

eggs = ${genwebcore:eggs}
       ${custom:eggs}
       Products.PloneLDAP

# network speedup
socket-timeout = 3
allow-hosts =
    pypi.upc.edu
    *.python.org
    docutils.sourceforge.net
    prdownloads.sourceforge.net
    effbot.org

