[sources]
# Genweb core
genweb.core = git git@github.com:UPCnet/genweb.core.git branch=develop
genweb.theme = git git@github.com:UPCnet/genweb.theme.git branch=develop
genweb.cdn = git git@github.com:UPCnet/genweb.cdn.git branch=develop
genweb.js = git git@github.com:UPCnet/genweb.js.git branch=develop
genweb.alternatheme = git git@github.com:UPCnet/genweb.alternatheme.git branch=develop
genweb.controlpanel = git git@github.com:UPCnet/genweb.controlpanel.git branch=develop
genweb.portlets = git git@github.com:UPCnet/genweb.portlets.git branch=develop
genweb.cleantheme = git git@github.com:UPCnet/genweb.cleantheme.git branch=master

# Genweb addons
genweb.smartportlet = git git@github.com:UPCnet/genweb.smartportlet.git branch=master
genweb.banners = git git@github.com:UPCnet/genweb.banners.git branch=master
genweb.logosfooter = git git@github.com:UPCnet/genweb.logosfooter.git

# Genweb extras
upcnet.stats = git git@github.com:UPCnet/upcnet.stats.git branch=develop
genweb.searchpage = git git@github.com:UPCnet/genweb.searchpage.git branch=master

# Genweb migration
genweb.jsonify = git git@github.com:UPCnet/genweb.jsonify.git
genweb.migrations = git git@github.com:UPCnet/genweb.migrations.git
collective.transmogrifier = git git@github.com:collective/collective.transmogrifier.git
quintagroup.transmogrifier = git git@github.com:collective/quintagroup.transmogrifier.git
collective.jsonify = git git@github.com:UPCnet/collective.jsonify.git branch=4to5

# UPC
genweb.upc = git git@github.com:UPCnet/genweb.upc.git branch=develop
genweb.stack = git git@github.com:UPCnet/genweb.stack.git branch=develop
genweb.packets = git git@github.com:UPCnet/genweb.packets.git branch=develop
upc.genweb.banners = git git@github.com:UPCnet/upc.genweb.banners.git branch=develop
upc.genweb.logosfooter = git git@github.com:UPCnet/upc.genweb.logosfooter.git branch=1.3
upc.genweb.descriptorTIC = git git@github.com:UPCnet/upc.genweb.descriptorTIC.git branch=develop
upc.genweb.kbpuc = git git@github.com:UPCnet/upc.genweb.kbpuc.git branch=develop
upc.genweb.objectiusCG = git git@github.com:UPCnet/upc.genweb.objectiusCG.git branch=develop
upc.genweb.serveis = git git@github.com:UPCnet/upc.genweb.serveis.git branch=develop
upc.genweb.soa = git git@github.com:UPCnet/upc.genweb.soa.git branch=develop
upcnet.cas = git git@github.com:UPCnet/upcnet.cas.git branch=develop
upc.cloudPrivat = git git@github.com:UPCnet/upc.cloudPrivat.git branch=develop
Products.windowZ = git git@github.com:collective/Products.windowZ.git
anz.casclient = git git@github.com:collective/anz.casclient.git
genweb.chineselanguagebar = git git@github.com:UPCnet/genweb.chineselanguagebar.git
genweb.serveistic = git git@github.com:UPCnet/genweb.serveistic.git
genweb.ens = git git@github.com:UPCnet/genweb.ens.git branch=develop
genweb.simpleforum = git git@github.com:UPCnet/genweb.simpleforum.git
genweb.tfemarket = git git@github.com:UPCnet/genweb.tfemarket.git branch=develop
#translations = git git@github.com:UPCnet/translations.git egg=false branch=develop

# GENWEBADDONS EXTERNS
genweb.upcnet = git git@gitlab.upc.edu:pyteam/genweb.upcnet.git branch=master
genweb.btec = git git@gitlab.upc.edu:pyteam/genweb.btec.git branch=master

# ALUMNI
genweb.alumni = git git@gitlab.upc.edu:pyteam/genweb.alumni.git branch=master
genweb.alumniwsdllogin = git git@gitlab.upc.edu:pyteam/genweb.alumniwsdllogin.git

# MAX integration
maxclient = git git@github.com:UPCnet/maxclient.git branch=develop
hubclient = git git@github.com:UPCnet/hubclient.git branch=develop
mrs.max = git git@github.com:UPCnet/mrs.max.git branch=develop
pas.plugins.osiris = git git@github.com:UPCnet/pas.plugins.osiris.git

# uLearn core
ulearn.core = git git@github.com:UPCnet/ulearn.core.git branch=develop
ulearn.theme = git git@github.com:UPCnet/ulearn.theme.git branch=develop
ulearn.js = git git@github.com:UPCnet/ulearn.js.git
experimental.securityindexing = git git@github.com:UPCnet/experimental.securityindexing.git
ulearn.patches = git git@github.com:UPCnet/ulearn.patches.git
ulearn.nomines = git git@gitlab.upc.edu:pyteam/ulearn.nomines.git

# uLearn clients
ulearn.generali = git git@gitlab.upc.edu:pyteam/ulearn.generali.git
ulearn.switchmed = git git@gitlab.upc.edu:pyteam/ulearn.switchmed.git
ulearn.gebropharma = git git@gitlab.upc.edu:pyteam/ulearn.gebropharma.git
ulearn.gwopa = git git@gitlab.upc.edu:pyteam/ulearn.gwopa.git
ulearn.innovacio = git git@gitlab.upc.edu:pyteam/ulearn.innovacio.git
ulearn.nexus24 = git git@gitlab.upc.edu:pyteam/ulearn.nexus24.git
upcnet.logger = git git@gitlab.upc.edu:pyteam/upcnet.logger.git
ulearn.ca = git git@gitlab.upc.edu:pyteam/ulearn.ca.git
ca.patches = git git@gitlab.upc.edu:pyteam/ca.patches.git
ulearn.intranet = git git@gitlab.upc.edu:pyteam/ulearn.intranetupcnet.git
genweb.lcms = git git@gitlab.upc.edu:pyteam/genweb.lcms.git
ulearn.blanquerna = git git@gitlab.upc.edu:pyteam/ulearn.blanquerna.git
ulearn.abacus = git git@gitlab.upc.edu:pyteam/ulearn.abacus.git
ulearn.aspb = git git@gitlab.upc.edu:pyteam/ulearn.aspb.git
ulearn.nanomol = git git@gitlab.upc.edu:pyteam/ulearn.nanomol.git
ulearn.provital = git git@gitlab.upc.edu:pyteam/ulearn.provital.git
ulearn.vilalta = git git@gitlab.upc.edu:pyteam/ulearn.vilalta.git
ulearn.enginyersbcn = git git@gitlab.upc.edu:pyteam/ulearn.enginyersbcn.git

# Web sites
switchmed.core = git git@gitlab.upc.edu:pyteam/switchmed.core.git
switchmed.theme = git git@gitlab.upc.edu:pyteam/switchmed.theme.git
switchmed.newsletter = git git@gitlab.upc.edu:pyteam/switchmed.newsletter.git
webupcnet.core = git git@gitlab.upc.edu:pyteam/webupcnet.core.git
webupcnet.theme = git git@gitlab.upc.edu:pyteam/webupcnet.theme.git
webupcnet.newspaper = git git@gitlab.upc.edu:pyteam/webupcnet.newspaper.git
once.fisio = git git@gitlab.upc.edu:pyteam/once.fisio.git
once.theme = git git@gitlab.upc.edu:pyteam/once.theme.git
comissions.cic = git git@github.com:UPCnet/comissions.cic.git

# Rectorat
genweb.rectorat = git git@github.com:UPCnet/genweb.rectorat.git
upc.genweb.newsletter = git git@gitlab.upc.edu:pyteam/upc.genweb.newsletter.git branch=dexterity
rectorat.newsletter = git git@gitlab.upc.edu:pyteam/rectorat.newsletter.git
genweb.organs = git git@github.com:UPCnet/genweb.organs.git

# KBTIC
genweb.kbtic = git git@github.com:UPCnet/genweb.kbtic.git branch=master

# Vilaix / Transparencia
vilaix.core = git git@github.com:UPCnet/vilaix.core.git
vilaix.theme = git git@github.com:UPCnet/vilaix.theme.git
transparencia.core = git git@github.com:UPCnet/transparencia.core.git
transparencia.theme = git git@github.com:UPCnet/transparencia.theme.git
vilaix.santaperpetuamogoda = git git@github.com:UPCnet/vilaix.santaperpetuamogoda.git
transparencia.santaperpetuamogoda = git git@github.com:UPCnet/transparencia.santaperpetuamogoda.git

# Infrastructure 3rd party
plone.app.contenttypes = git git@github.com:plone/plone.app.contenttypes.git
wildcard.foldercontents = git git@github.com:collective/wildcard.foldercontents.git branch=1.x
collective.gridlets = git git@github.com:/collective/collective.gridlets.git
anz.casclient = git git@github.com:collective/anz.casclient.git
plone.app.multilingual = git git@github.com:plone/plone.app.multilingual.git
archetypes.multilingual = git git@github.com:plone/archetypes.multilingual.git branch=2.x
Products.BeakerSessionDataManager = git git@github.com:davisagli/Products.BeakerSessionDataManager.git
collective.elasticsearch = git git@github.com:collective/collective.elasticsearch.git

# test
plone.themepreview = git https://github.com/plone/plone.themepreview egg=false
collective.newrelic = git https://github.com/collective/collective.newrelic.git

# To remove
collective.recaptcha = git git@github.com:/collective/collective.recaptcha.git
