[buildout]
parts =
    filestorage
    instance
    omelette
    themepreview
#    test
    codeintel

extends =
    buildbase.cfg
    http://dist.plone.org/release/5.0/versions.cfg
#    ../versions.cfg
versions = versions

developeggs = ploneorg.theme
# developeggs += ${genwebupc:eggs}
#               ${genwebextras:eggs}
#               ${genwebaddons:eggs}
#               ${genwebmigration:eggs}

[test]
recipe = zc.recipe.testrunner
defaults = ['--exit-with-status', '--auto-color', '--auto-progress', '--verbose', '--ndiff']
eggs = genweb.core[test]

[sources]
# Genweb core
ploneorg.theme = git git://github.com/plone/ploneorg.theme.git pushurl=git@github.com:plone/ploneorg.theme.git
genweb.core = git git@github.com:UPCnet/genweb.core.git branch=develop
genweb.theme = git git@github.com:UPCnet/genweb.theme.git branch=develop
genweb.js = git git@github.com:UPCnet/genweb.js.git branch=develop
# genweb.alternatheme = git git@github.com:UPCnet/genweb.alternatheme.git branch=develop
# genweb.controlpanel = git git@github.com:UPCnet/genweb.controlpanel.git branch=develop
# genweb.portlets = git git@github.com:UPCnet/genweb.portlets.git branch=develop

[versions]
